{% extends "base.html" %}
{% load static %}
{% block title %}Catalogue des Données Statistiques | Enquêtes & Rapports{% endblock %}

{% block meta_description %}Explorez notre catalogue de données mutualisées:rapports d'enquêtes terrain, analyses statistiques et jeux de données brutes au Burkina Faso.{% endblock %}

{% block keywords %}catalogue données, statistiques Burkina, rapports enquêtes,data open access, jeux de données brutes{% endblock %}

{% block og_title %}Catalogue de Données Statistiques - Accès aux Enquêtes{% endblock %}
{% block og_description %}Recherchez et téléchargez les dernières enquêtes et rapports statistiques de notre équipe en quelques clics.{% endblock %}
{% block og_image %}{{ request.scheme }}://{{ request.get_host }}{% static 'images/portal-share.jpg' %}{% endblock %}
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image:type" content="image/png">



{% block content %}
<div class="container py-5">
    <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
            <h2 class="fw-bold mb-3">Catalogue des Données Statistiques</h2>
            <p class="text-muted mb-4">Accédez aux enquêtes et rapports détaillés.</p>
            <div class="input-group shadow-sm">
                <span class="input-group-text bg-white border-end-0"><i class="fas fa-search text-muted"></i></span>
                <input type="text" 
                       name="q" 
                       class="form-control border-start-0 ps-0" 
                       placeholder="Rechercher par mot-clé (ex: Coton,Recensement...)"
                       hx-get="{% url 'statapp:search' %}" 
                       hx-target="#fileGrid" 
                       hx-trigger="keyup changed delay:500ms">
            </div>
        </div>
    </div>

    <div class="row g-4" id="fileGrid">
        {% include 'statapp/partials/file_list.html' %}
    </div>
</div>

{% include 'statapp/components/newsletter.html' %}
{% endblock content %}