<footer class="text-center text-lg-start text-white" style="background: linear-gradient(135deg, #0056A6, #030e14);">
  
 

  <section class="py-5">
    <div class="container-fluid text-center text-md-start">
      <div class="row mt-3">
        
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <div class="d-flex align-items-center mb-4 justify-content-center justify-content-md-start">
            <img src="images/shine.jpg" alt="logo" style="width:50px; height:auto;" class="rounded shadow-sm">
            <div class="ms-3">
              <small class="text-white-50">Plateforme de données statistiques!</small>
            </div>
          </div>
          <p class="small lh-base text-white">
          t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as oppos
          </p>
        </div>

     
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4 border-bottom border-primary border-2 d-inline-block pb-1">Contact</h6>
          
          <div class="contact-info small">
            <p class="mb-3 d-flex align-items-start justify-content-center justify-content-md-start">
              <i class="fas fa-home me-3 mt-1 text-primary"></i>
              <span>{{address}}</span>
            </p>
            
            <p class="mb-3 d-flex align-items-center justify-content-center justify-content-md-start">
              <i class="fas fa-envelope me-3 text-primary"></i>
              <span>{{contact_email}}</span>
            </p>

            <div class="mt-4">
              <h6 class="text-uppercase fw-bold small mb-2">
                <i class="fas fa-phone-alt me-2 text-primary"></i> Téléphones
              </h6>
              <ul class="list-unstyled text-white-47 ms-md-4">
                <li>{{contact_res}}</li>
                <li>{{contact_res2}}</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
    <small class="text-white-50">© 2026 Copyright — Tous droits réservés.</small>
  </div>
</footer>

