<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>{% block title %}Portail de données collaboratif | Recherche & Enquêtes{% endblock %}</title>
    
    <meta name="description" content="{% block meta_description %}Plateforme mutualisée pour la collecte, le traitement et la diffusion de données statistiques au Burkina Faso.{% endblock %}">
    <meta name="keywords" content="{% block keywords %}portail de données, plateforme collaborative, statistiques Burkina, enquêtes terrain{% endblock %}">
    
    <link rel="canonical" href="{{ request.build_absolute_uri }}">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:title" content="{% block og_title %}Portail de données - Plateforme collaborative{% endblock %}">
    <meta property="og:description" content="{% block og_description %}Consultez et téléchargez les données statistiques et rapports d'enquêtes.{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% static 'images/portal-preview.jpg' %}{% endblock %}">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% block twitter_title %}Portail de Données Collaboratif{% endblock %}">
    <meta name="twitter:description" content="{% block twitter_description %}Plateforme de gestion d'enquêtes statistiques.{% endblock %}">
    <meta name="twitter:image" content="{% block twitter_image %}{% static 'images/portal-preview.jpg' %}{% endblock %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/nva_var.css' %}">

    {% block extra_meta %}{% endblock extra_meta %}
    {% block extra_css %}{% endblock extra_css %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'> 
{% include 'partials/navbar/navbar.html' %}

    <main class="container-fluid ">
        {% block content %}
        {% endblock content %}
    </main>


{% include 'partials/footer/footer.html' %}
    <script src="https://unpkg.com/htmx.org@1.9.0"></script>
    <script src={% static 'js/bootstrap.bundle.min.js' %}></script>
    
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>