{% extends 'base.html' %}

{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card border-0 shadow-sm p-4">
                <div class="text-center mb-4">
                    <h2 class="fw-bold">Connexion</h2>
                    <p class="text-muted small">Accédez à vos données statistiques sécurisées</p>
                </div>
                
               <form method="post">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.username.label_tag }}
        <input type="text" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <div class="d-flex justify-content-between">
            {{ form.password.label_tag }}
            <a href="{% url 'password_reset' %}" class="small text-decoration-none text-color">Mot de passe oublié ?</a>
        </div>
        <input type="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary-bl text-white w-100 py-2 rounded-pill">Se connecter</button>
</form>
                
                <div class="text-center mt-3 text-color">
                    <small>Pas encore de compte ? <a href="{% url 'statapp:register' %}">S'inscrire</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}